@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

* {
   padding: 0;
   margin: 0;
   font-family: 'Ubuntu', sans-serif !important;
}